@{
    ViewBag.Title = "AuthError";
}

@using OnlineLearningDIPSystem.Helper;

@Html.WebPadding(40)

<div id="main-shell" style="width:100%;">
    <div id="error-shell" class="center main-welcome-account" style="width:900px; height:110px;">
        <div style="margin:20px;">
            <div style="height:70px; float:left;">
                <img src="/Content/images/UAC.jpg" style="width:70px; height:70px;" />
            </div>
            <div style="height:70px; float:left; margin-top:25px;">
                <span>没有相应的权限，你可以创建帐号或登录重试或联系管理员！</span>
                <a class="module-btn" style="background-color: #72a83d; display:inline;" href="/Account/Register">注册</a>
                <a class="module-btn" style="background-color: #2fb4ee; display: inline;" href="/Home/Index">登录</a>
            </div>
        </div>
    </div>
</div>

@Html.WebPadding(40)